/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

svg {
  width: 4%;
  height: 4%;
}

:root {
  --mainColor: #cccccc;
  --secondaryColor: #ccf2f4;
  --tertiaryColor: #fafafa;

  --mainText: #11999e;
  --secondaryText: #5aa9a9;
  --hoverText: #aaaaaa;
  --smallText: #222222;

  --mainBorder: #0b6669;
  --secondaryBorder: #0f888c;
}

/* Change to dark mode based on user OS preference */

@media (prefers-color-scheme: dark) {
  :root {
    --mainColor: #515151;
    --secondaryColor: #000000;
    --tertiaryColor: #222222;

    --mainText: #11999e;
    --secondaryText: #5aa9a9;
    --hoverText: #fafafa;
    --smallText: #aaaaaa;

    --mainBorder: #0b6669;
    --secondaryBorder: #0f888c;
  }
}

body {
  font-family: 'Merriweather', serif;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: var(--mainText);
  font-family: 'Sacramento', cursive;
  font-size: 5.6rem;
}

h2 {
  color: var(--secondaryText);
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

h3 {
  color: var(--mainText);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75rem;
}

p {
  color: var(--smallText);
  line-height: 1.75;
}

/* change color on hover for links */
.hoverColor:hover {
  color: var(--hoverText);
}

/* Header/Navbar Styles */
nav {
  line-height: 1rem;
}

#navTitle:hover {
  font-size: 1.1rem;
  transition: font-size 0.1s ease;
}

.navbar {
  background-color: var(--mainColor);
}

.navbar-brand {
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.about-me,
.contact,
.footer-link,
.nav-link {
  color: var(--mainText);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 10px 25px;
  text-decoration: none;
}

/* Footer Styles */
.footer-container {
  background-color: var(--secondaryColor);
  position: relative;
  text-align: center;
  padding: 1.5rem;
}

.footer-link:hover {
  font-size: 1.1rem;
  line-height: 1rem;
  transition: font-size 0.3s;
}

.copyright {
  font-size: 0.8em;
  padding: 20px;
}

/* Home Styles */
.intro {
  position: relative;
  text-align: center;
}

.homeBackground {
  background-image: url(/public/images/fuji.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  filter: brightness(60%);
  margin-top: -10%;
  padding-top: 10%;
  background-repeat: no-repeat;
}

.greeting {
  margin-top: 7%;
}

.about-section {
  background-color: var(--tertiaryColor);
  padding: 5%;
  display: flex;
  align-items: center;
}

.img-center {
  display: flex;
  justify-content: center;
}

.profile-picture {
  max-height: 500px;
  width: auto;
  border-radius: 20%;
}

.helloTitle {
  text-align: center;
}

.hello {
  margin: 40px auto;
  width: 70%;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .hello,
  .passion-row,
  .project-description {
    width: 90% !important;
  }
}

/* About Section Styles */
.passions-container {
  background-color: var(--tertiaryColor);
}

.skills-container {
  background-color: var(--mainColor);
}

.build {
  padding-top: 25px;
}

.coding-gif {
  border-radius: 20%;
  float: left;
  margin-right: 25px;
  width: 25%;
}

.pc {
  float: right;
  margin-left: 25px;
  width: 25%;
}

.passion-row {
  margin: 50px auto 100px auto;
  text-align: left;
  width: 50%;
}

.logo {
  max-width: 200px;
  height: auto;
}

.bootstrap-logo {
  max-width: 200px;
  height: auto;
  margin-top: 35px;
}

/* Project Section Styles */
.project-container {
  background-color: var(--tertiaryColor);
}

.project-description {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 10px 25px;
  width: 70%;
  text-decoration: none;
}

.carousel {
  background-color: var(--mainColor);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.8s ease;
  background-color: rgba(0, 0, 0, 0.9);
}

.carousel-item:hover {
  transform: scale(1.01);
  transition: transform 0.7s, box-shadow 0.7s, background 0.7s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.carousel-item:hover .overlay {
  opacity: 1;
}

.overlay-text {
  color: #f7f7f7;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Contact Section Styles */
.contact-me {
  background-color: var(--tertiaryColor);
}

#contact-form {
  color: var(--mainText);
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border-color: var(--hoverText);
  border: 1px solid;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--tertiaryColor);
  margin-bottom: 50px;
  text-align: left;
}

#contact-form label {
  line-height: 2.7rem;
}

#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}

.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-color: var(--hoverText);
  border-radius: 5px;
  border: 1px solid;
  font-size: 1rem;
}

#submit-btn {
  background-color: var(--secondaryBorder);
  color: white;
}

#submit-btn:hover {
  color: var(--hoverText);
  border: solid var(--mainBorder) 1px;
  background: var(--mainText);
  background-image: -webkit-linear-gradient(
    top,
    var(--mainText),
    var(--secondaryBorder)
  );
  background-image: -moz-linear-gradient(
    top,
    var(--mainText),
    var(--secondaryBorder)
  );
  background-image: -ms-linear-gradient(
    top,
    var(--mainText),
    var(--secondaryBorder)
  );
  background-image: -o-linear-gradient(
    top,
    var(--mainText),
    var(--secondaryBorder)
  );
  background-image: -webkit-gradient(
    to bottom,
    var(--mainText),
    var(--secondaryBorder)
  );
  text-decoration: none;
  -webkit-box-shadow: 0 1px 14px 0 #000000;
  -moz-box-shadow: 0 1px 14px 0 #000000;
  box-shadow: 0 1px 14px 0 #000000;
}
